extends layout

block content
  h1= title

  p
  | This is the first web application built with the
  a(href='http://expressjs.com') ExpressJS
  |  framework based
  | on 
  a(href='http://nodejs.org/') NodeJS.

  p
  | You can access 
  a(href='/users') the users page