/* ----------------------------------------------------------------------- */
/*
 * CSS for the Angular pages - Jean-Paul Le Fèvre - July  2013
 */
/* ----------------------------------------------------------------------- */

.info {
    font-weight: normal;
    color: blue;
    font-style: oblique;
}

.info.small {
    font-size: 8px;
}

/* ----------------------------------------------------------------------- */

